-
  var nav = [
    {
      title: 'Головна',
      link: ''
    },
    {
      title: 'Послуги',
      link: ''
    },
    {
      title: 'Команда',
      link: ''
    },
    {
      title: 'Відгуки',
      link: ''
    }
  ]

header.header
  .container.flex.ai-center.jc-between
    .header__logo 
      include ../../../images/logo.svg
    ul.header__menu.nav.flex.jc-between
      for link in nav 
        li.nav__item
          a(href=link.link)= link.title 
    .header__buttons_primary.buttons.flex.ai-center
      .buttons__btn.btn Безкоштовна консультація
      .buttons__toggle
        a(href="/")
          span ua
          span /
          span eng

    .header__mobile.mobile
      a#hamburger.hamburger
        span.line
        span.line
        span.line