-
    var nav = [
        {
            title: '',
            link: ''
        }
    ]

header.header
    nav.header__wrapper
        ul.header__menu.header-desk.flex
            for link in nav 
                li
                    a(href=link.link)= link.title
        .header__mobile.mobile
            a#hamburger.hamburger
                span.line
                span.line
                span.line
.header__menu-mobile.header-mob
    ul.header-mob__list.list
        for link in nav 
            li.list__item.item
                a.item__link(class='header__menu--link' href=link.link)= link.title