-
  var nav = [
    {
      title: 'Головна',
      link: ''
    },
    {
      title: 'Послуги',
      link: ''
    },
    {
      title: 'Команда',
      link: ''
    },
    {
      title: 'Відгуки',
      link: ''
    }
  ]

header.header
  .container.flex.ai-center.jc-between
    .header__logo 
      include ../../../images/logo.svg
    ul.header__menu.nav.flex.jc-between
      for link in nav 
        li.nav__item
          a(href=link.link)= link.title 
    .flex.ai-center
      .btn Безкоштовна консультація
      .toggle
        a.active(href="") ua
        span /
        a(href="") eng
    .header__mobile.mobile
      a#hamburger.hamburger
        span.line
        span.line
        span.line
.header__plug

.header-mob 
  ul 
    li 
      a Команда
    li 
      a Головна
    li
      button.services-button Послуги
      .services__items
        a.services__item Просування бізнесу (SMM)
        a.services__item Формування грантової заявки
    li
      a Відгуки
  .contacts 
    .contacts__phone
      a(href="tel:+380976199192") +38 (097) 619 91 92 
    .contacts__social.flex.jc-center
      a(href="#")
        include ../../../images/inst.svg
      a(href="#")
        include ../../../images/fb.svg
      a(href="#") 
        include ../../../images/tg.svg
      a(href="#") 
        include ../../../images/vb.svg
