.instruments {
  position: relative;
  padding: 32px 0 60px;
  margin-bottom: 80px;
  background-color: $orange-color;
  background-image: url(../../images/smart-object.webp);
  &__title {
    color: $white-color;
    margin-bottom: 32px;
  }
  .item {
    max-width: 430px;
    width: 100%;
    &.left {
      h3,
      li {
        text-align: left;
      }
      h3 {
        border-radius: 0px 16px 0px 16px;
        @include max-width(b-md) {
          text-align: center;
        }
      }
    }
    &.right {
      h3,
      li {
        text-align: right;
      }
      h3 {
        border-radius: 16px 0px 16px 0px;
        @include max-width(b-md) {
          text-align: center;
        }
      }
    }
    &__title {
      margin-bottom: 16px;
      text-transform: uppercase;
      background-color: #1c1c1c;
      padding: 16px;
      color: $white-color;
    }
    &__list li {
      color: $white-color;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: unset;
      }
    }
  }
  .img {
    position: absolute;
    left: calc(50% - 189px);
    bottom: 0;
    @include max-width(b-md) {
      display: none;
    }
    .gradient {
      position: absolute;
      z-index: 1;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(250, 86, 33, 0.84) 0%,
        rgba(254, 254, 252, 0) 100%
      );
      width: 420px;
      height: 420px;
    }
    .image {
      position: relative;
      z-index: 2;
    }
  }
}
