// .main {
//   padding-left: 15px;
//   padding-right: 15px;

//   @include min-width(b-lg) {
//     padding-right: 39px;
//     padding-top: 13px;
//   }
//   &.flex {
//     @include max-width(b-md) {
//       display: block;
//     }
//   }

//   &__wrapper {
//     padding-top: 27px;
//     padding-bottom: 51px;
//     @include min-width(b-xl) {
//       padding-top: unset;
//     }
//   }
//   &.flex {
//     @include max-width(b-md) {
//       flex-direction: column;
//     }
//   }
//   &__title-wrapper {
//     color: $black-color;
//     max-width: 849px;
//     font-size: 64px;
//     text-transform: uppercase;
//     font-family: NAMU;
//     padding-bottom: 40px;
//     @include max-width(b-lg) {
//       font-size: 48px;
//     }
//     @include max-width(b-md) {
//       width: 100%;
//       font-size: 32px;
//       line-height: 38px;
//     }
//   }

//   &__title_orange {
//     color: $orange-color;
//   }

//   &__scope {
//     max-width: 850px;
//     @include max-width(b-md) {
//       justify-content: center;
//       align-items: center;
//     }
//   }

//   &__photo {
//     position: absolute;
//     top: 88px;
//     right: 39px;
//     bottom: 1px;
//     z-index: -1;
//     @include min-width(b-xl) {
//     }
//     @include max-width(b-md) {
//       position: inherit;
//       padding-left: 0px;
//     }
//   }
//   &__progress {
//     padding-left: 36px;
//     @include max-width(b-lg) {
//       padding-bottom: 41px;
//     }
//     @include max-width(b-md) {
//       padding-left: unset;
//       justify-content: space-around;
//       padding-bottom: 16px;
//     }
//   }
// }

// .buttons__btn {
//   z-index: 2;
//   padding-bottom: 14px;
// }

// .progress {
//   &__number {
//     color: $orange-color;
//     font-size: 60px;
//     @include max-width(b-md) {
//       font-size: 40px;
//     }
//   }
//   &__text {
//     font-size: 20px;
//     font-weight: 400;
//     white-space: nowrap;
//     @include max-width(b-md) {
//       white-space: nowrap;
//     }
//   }
//   &__item {
//     @include min-width(b-md) {
//       padding-right: 67px;
//     }
//     @include max-width(b-md) {
//       padding-right: 42px;
//       display: flex;
//       flex-direction: column;
//       width: 50%;
//     }
//     &:last-child {
//       padding-right: unset;
//       padding-left: 21px;
//     }
//     &:first-child {
//       padding-right: 21px;
//     }
//   }
// }
// .progress__number,
// .progress__text {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .scope__item {
//   @include min-width(b-md) {
//     @include box-shadow(inset 0 0 8px 10px #fb8862);
//   }
//   @include max-width(b-md) {
//     padding-right: 41px;
//     display: block;
//     background-image: url("../../images/smart-object.webp");
//   }
//   @include box-shadow(inset 0 0 10px 10px #fb8862);

//   background-color: $orange-color;
//   height: 235px;
//   margin-right: 20px;
//   &:last-child {
//     margin-right: unset;
//     @include max-width(b-md) {
//       margin-bottom: unset;
//     }
//   }

//   border-radius: 8px;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   padding-bottom: 20px;
//   @include max-width(b-md) {
//     margin-right: unset;
//     height: 70px;
//     padding-bottom: unset;
//     margin-bottom: 20px;
//     max-width: 345px;
//   }
// }

// .item__container {
//   width: 100%;

//   @include transition(1s);
//   &:hover {
//     @include transform(-20px);
//     @include transition(1s);
//   }
//   @include max-width(b-md) {
//     height: 100%;
//     width: 100%;
//     padding-left: 13px;
//     display: flex;
//     align-items: center;
//   }
// }
// .scope__text {
//   color: $white-color;
//   font-size: 24px;
//   text-align: center;

//   font-family: NAMU;
//   @include max-width(b-md) {
//     font-size: 16px;
//     line-height: 19px;
//     text-align: left;
//     padding-left: 20px;
//   }
// }
// .scope__item:first-child {
//   @include min-width(b-md) {
//     padding-left: 24px;
//     padding-right: 24px;
//   }
// }
// .scope__item:last-child {
//   @include min-width(b-md) {
//     padding-left: 12px;
//     padding-right: 12px;
//   }
// }

// .scope-items__wrapper {
//   @include min-width(b-2xl) {
//     padding-bottom: 41px;
//   }

//   @include max-width(b-md) {
//     flex-direction: column;
//   }
// }

// .scope__img {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   height: 163px;

//   @include max-width(b-md) {
//     width: 30%;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }
// .img__wrapper {
//   height: 4px;
//   max-width: 100%;
//   background: transparent;
// }
// .img_bag {
//   @include min-width(b-md) {
//     margin-bottom: 7px;
//   }
//   @include max-width(b-md) {
//     max-height: 62px;
//   }
// }
// .img_pen {
//   width: 100%;
//   height: 100%;

//   @include min-width(b-md) {
//     padding-left: 29px;
//     padding-right: 29px;
//   }
//   @include max-width(b-md) {
//     object-fit: cover;

//     max-height: 59px;
//   }
// }
// .img_hat {
//   object-fit: cover;
//   width: 100%;
//   height: 100%;

//   @include max-width(b-md) {
//     max-height: 51px;
//   }
// }
// .img_bag,
// .img_pen,
// .img_hat {
//   @include max-width(b-md) {
//     object-fit: contain;
//   }
// }

// .photo-scope__wrapper {
//   max-width: 850px;
//   @include max-width(b-md) {
//     flex-direction: column-reverse;
//     align-items: center;
//   }
// }
// .photo__img {
//   background-image: url(../../images/main-photo.webp);
//   background-repeat: no-repeat;
//   background-size: contain;
//   width: 475px;
//   height: 703px;

//   @include max-width(b-md) {
//     width: 220px;
//     height: 355px;
//     background-size: contain;
//   }
// }
// .buttons__btn-wrapper {
//   @include max-width(b-md) {
//     position: absolute;
//     top: 637px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
// .buttons__btn.btn {
//   display: none;
//   @include max-width(b-md) {
//     display: block;
//     text-align: center;
//   }
// }

.hero {
  margin-bottom: unset;
  padding: 40px 0;
  background-image: url(../../images/main-photo.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 50px);
  @include max-width(b-md) {
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 55%;
  }
  @include max-width(b-sm) {
    background-size: 50%;
  }
  &__title {
    max-width: 850px;
    margin-bottom: 40px;
    span {
      color: $orange-color;
    }
    @include max-width(b-xl) {
      max-width: 700px;
    }
    @include max-width(b-lg) {
      max-width: 450px;
      margin-bottom: 16px;
    }
  }
  &__counter {
    margin-bottom: 50px;
    @include max-width(b-md) {
      margin-bottom: 310px;
    }
  }
}

.counter {
  &:first-child {
    margin-right: 60px;
    @include max-width(b-lg) {
      margin-right: 20px;
    }
  }
  &__count p {
    color: $orange-color;
    @include font(60, 72, 700);
    margin-right: 10px;
    @include max-width(b-lg) {
      @include font(40, 48, 700);
    }
  }
  &__txt p {
    font-family: "Mazzard";
    @include font(20, 24, 400);
    color: $black-color;
    @include max-width(b-lg) {
      @include font(16, 20, 400);
    }
  }
}

.service {
  max-width: 270px;
  width: 100%;
  margin-right: 10px;
  padding-bottom: 20px;
  background-color: $orange-color;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 12px #fefefc33 inset;
  @include max-width(b-md) {
    background-image: url(../../images/smart-object.webp);
    height: 70px;
    box-shadow: none;
    margin-bottom: 10px;
    padding: 10px;
  }
  &:last-child {
    margin-right: unset;
  }
  &__image,
  &__text {
    transition: ease-in-out 250ms;
  }
  &__image {
    transform: translateY(-10px);
    width: fit-content;
    margin: 0 auto;
    @include max-width(b-md) {
      transform: unset;
      margin: unset;
      margin-right: 20px;
      width: 70px;
      img {
        width: 100%;
      }
    }
  }
  &__text p {
    @include font(24, 28, 700);
    color: $white-color;
    text-align: center;
    @include max-width(b-md) {
      @include font(16, 20, 700);
      text-align: left;
    }
  }
  &:hover {
    .service__image,
    .service__text {
      transition: ease 250ms;
      transform: translateY(-30px);
      @include max-width(b-md) {
        transform: unset;
      }
    }
  }
  @include max-width(b-md) {
    max-width: unset;
  }
}
