.reviews {
  overflow: hidden;
  &__content {
    height: 100%;
    width: 100%;
    // width: vw-tab(200px);
    // width: vw-mob(200px);
    // width: vw-tab-l(200px);
    background-position: top;
    background-image: url(../../images/laptop.webp);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px 65px;
    text-align: center;
    @include max-width(b-md) {
      height: 225px;
      background-position: center;
    }
    p {
      color: $black-color;
    }
  }
  &__display {
    max-width: 450px;
    width: 100%;
  }
  .choose {
    max-width: 600px;
    width: 100%;
    height: 560px;
    &__circles {
      position: relative;
    }
    &__review {
      @include max-width(b-md) {
        display: flex;
        justify-content: center;
      }
    }
    @include max-width(b-lg) {
      max-width: 500px;
      height: 400px;
    }
  }
  .circles {
    &__container {
      position: absolute;
      right: -100px;
      width: 557px;
      height: 557px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include max-width(b-lg) {
        height: 400px;
        width: 450px;
      }
      @include max-width(b-md) {
        height: 400px;
        width: 142%;
      }
      @include max-width(b-sm) {
        height: 400px;
        width: 140%;
      }
      @media (max-width: 480px) {
        width: 160%;
      }
    }
    &__image {
      position: absolute;
      right: 0;
    }
  }
  .circle {
    border: 1px solid $orange-color;
    border-radius: 50%;
    &-big {
      max-width: 557px;
      max-height: 557px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1;
      img {
        height: 90%;
        width: 100%;
        object-fit: contain;
        object-position: top;
        transform: translate(70px, 60px);
      }
      @include max-width(b-lg) {
        max-width: 357px;
        max-height: 357px;
      }
      @include max-width(b-md) {
        max-width: 247px;
        max-height: 247px;
      }
    }
    &-medium {
      max-width: 460px;
      max-height: 460px;
      width: 100%;
      height: 100%;
      @include max-width(b-lg) {
        max-width: 260px;
        max-height: 260px;
      }
      @include max-width(b-md) {
        max-width: 204px;
        max-height: 204px;
      }
    }
    &-small {
      max-width: 363px;
      max-height: 363px;
      width: 100%;
      height: 100%;
      @include max-width(b-lg) {
        max-width: 163px;
        max-height: 163px;
      }
      @include max-width(b-md) {
        max-width: 160px;
        max-height: 160px;
      }
    }
  }
  .review {
    &__items {
      .fill-circle {
        background-color: $orange-color;
        border-radius: 50%;
        @include max-width(b-md) {
          margin: 0 auto;
        }
      }
      &.first {
        margin-bottom: 140px;
        margin-left: 130px;
        .fill-circle {
          width: 76px;
          height: 76px;
        }
        @include max-width(b-lg) {
          margin-bottom: 80px;
          .fill-circle {
            width: 46px;
            height: 46px;
          }
        }
        @include max-width(b-md) {
          margin-left: unset;
          margin-bottom: unset;
          margin-top: 30px;
          .fill-circle {
            width: 32px;
            height: 32px;
          }
        }
      }
      &.second {
        margin-bottom: 80px;
        .fill-circle {
          width: 100px;
          height: 100px;
        }
        @include max-width(b-lg) {
          margin-bottom: 80px;
          .fill-circle {
            width: 76px;
            height: 76px;
          }
        }
        @include max-width(b-md) {
          margin-bottom: 80px;
          margin-bottom: unset;
          .fill-circle {
            width: 45px;
            height: 45px;
          }
        }
      }
      &.third {
        margin-left: 25px;
        .fill-circle {
          width: 63px;
          height: 63px;
        }
        @include max-width(b-md) {
          margin-top: 60px;
          .fill-circle {
            width: 32px;
            height: 32px;
          }
        }
      }
      &:last-child {
        margin-bottom: unset;
        margin-left: unset;
      }
      .item {
        text-align: center;
        height: 60px;
        padding: 12px 40px;
        border-radius: 10px;
        background-color: $orange-color;
        width: fit-content;
        position: relative;
        margin-right: 15px;
        cursor: pointer;
        user-select: none;
        &::after {
          content: "";
          right: -5px;
          bottom: 15px;
          position: absolute;
          display: block;
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 0 5px 10px 5px;
          border-color: transparent transparent $orange-color transparent;
          transform: rotate(90deg);
        }
        &__text p {
          @include max-width(b-md) {
            @include font(12, 14, 400);
          }
        }
        &__stars svg {
          @include max-width(b-md) {
            width: 7px;
            height: 7px;
          }
        }
        @include max-width(b-lg) {
          padding: 5px 10px;
        }
        @include max-width(b-md) {
          height: unset;
          margin: unset;
          margin-bottom: 8px;
          &::after {
            transform: rotate(180deg);
            right: calc(50% - 5px);
            bottom: -5px;
          }
        }
      }
    }
  }
}
