- var title = 'TITLE'
- var gTag = 'G-'

doctype html    
html(lang="uk")
  include pug/sections/global/head.pug
  body
    include pug/sections/global/header.pug
    section.about.md-flex-up
      .about__item
        h4.item__title Що це?
        .item__text 
          p Будь-якому бізнесу, організації та ініціативному об’єднанню потрібні кошти чи інвестиції, вірно? Можливість для зростання - ось що таке гранти! Грант може допомогти вам оплачувати витрати, провести дослідження, купувати обладнання або залучати нових клієнтів.
      .about__item 
        h4.item__title як залучити грант?
        .item__text 
          p Для отримання безповоротної фінансової допомоги вам необхідно подати заявку на грант. Це завжди вимагає особливої ​​підготовки проєкту, може зайняти багато часу і вимагатиме значних зусиль. Також після подачі документації, ви стикаєтеся з іншими конкурентами, які теж хочуть отримати грант. Зазвичай на невеликі гранти подають заявки сотні претендентів. Тому потрібно розуміти, що дає можливість, а що ні на отримання гранту. Ми забезпечемо успішне залучення коштів!
