- var title = 'Melnyk Agency | Бізнес'
- var gTag = 'G-'

doctype html    
html(lang="uk")
  include pug/sections/global/head.pug
  body
    include pug/sections/global/header.pug
    section.page-hero(style="--bg-img: url('../../../images/grants.webp')")
      h1.page-hero__title ПРОСУВАННЯ БІЗНЕСУ
      h1.page-hero__title.m 
        span ПРОСУВАННЯ 
        span БІЗНЕСУ
      h2.page-hero__subtitle у соціальних мережах (SMM)
    section.about.md-flex-up
      .about__item
        h4.item__title Що це?
        .item__text 
          p Будь-якому бізнесу, організації та ініціативному об’єднанню потрібні кошти чи інвестиції, вірно? Можливість для зростання - ось що таке гранти! Грант може допомогти вам оплачувати витрати, провести дослідження, купувати обладнання або залучати нових клієнтів.
      .about__item 
        h4.item__title як залучити грант?
        .item__text 
          p Для отримання безповоротної фінансової допомоги вам необхідно подати заявку на грант. Це завжди вимагає особливої ​​підготовки проєкту, може зайняти багато часу і вимагатиме значних зусиль. Також після подачі документації, ви стикаєтеся з іншими конкурентами, які теж хочуть отримати грант. Зазвичай на невеликі гранти подають заявки сотні претендентів. Тому потрібно розуміти, що дає можливість, а що ні на отримання гранту. Ми забезпечемо успішне залучення коштів!

    section.decides.container
      h2.decides__title Комплексне рішення для просування вашого бізнесу
      .decides__items.lg-flex-up.jc-center
        .item.flex.flex-column-up.jc-between(style="--bg-img: url(../../images/support-img.webp)")
          .top-part
            .item__label 
              p пакет
            h3.item__title підтримка
            .item__subtitle 
              p Для висвітлення Вашої діяльності в соціальних мережах
            ul.item__list
              li SMM-Стратегія
              li Контент-план
              li 7 постів
              li 3 reels
              li 15 stories
              li 5 унікальних stories
              li 1 фотозйомка
              li Щомісячний звіт
          .item__price.price 
            .price__regular 
              p 10 000 ₴
            h3.price__compare 8 900 ₴

        .item.flex.flex-column-up.jc-between(style="--bg-img: url(../../images/optimal-img.webp)")
          .top-part
            .item__label 
              p пакет
            h3.item__title оптимальний
            .item__subtitle
              p Комплексне SMM-просування для Вашого бізнесу
            ul.item__list
              li SMM-Стратегія
              li Контент-план
              li 10 постів
              li 5 reels
              li 40 stories
              li 15 унікальних stories
              li 2 фотозйомки
              li Таргет компанія
              li Щомісячний звіт
          .item__price.price 
            .price__regular 
              p 19 500 ₴
            h3.price__compare 16 500 ₴

            
        .item.flex.flex-column-up.jc-between(style="--bg-img: url(../../images/maximal-img.webp)")
          .top-part
            .item__label 
              p пакет
            h3.item__title максимальний
            .item__subtitle
              p Розвиток впізнаваності бренду бізнесу та залучення нових клієнтів
            ul.item__list
              li SMM-Стратегія
              li Контент-план
              li 15 постів
              li 10 reels
              li 60 stories
              li 15 унікальних stories
              li 2 фотозйомка
              li Таргет компанія
              li Інфлюенс маркетинг
              li Щомісячний звіт
          .item__price.price 
            .price__regular 
              p 31 500 ₴
            h3.price__compare 23 500 ₴
    include pug/sections/price.pug
    include pug/sections/cases.pug
    include pug/sections/team.pug 
    include pug/sections/reviews.pug
    include pug/sections/global/footer.pug