- var title = 'TITLE'
- var gTag = 'G-'

doctype html    
html(lang="uk")
  include pug/sections/global/head.pug
  body
    include pug/sections/global/header.pug
    section.page-hero(style="--bg-img: url('../../../images/business.webp')")
      h1.page-hero__title залучення коштів
      h1.page-hero__title.m 
        span залучення 
        span коштів
      h2.page-hero__subtitle шляхом написанням грантів
    section.about.md-flex-up
      .about__item
        h4.item__title що це?
        .item__text 
          p Понад 82% клієнтів різних напрямків бізнесу надають перевагу онлайн-комунікації (замовлення, запис, консультації), а це вказує на те, що соціальні мережі - основа для просування бренду. Щоб втілити ефективний результат, розробляється комплекс дій, спрямованих на зростання трафіку, продажів та формування унікального tone of voice. Це індивідуальний процес, у якому враховуються особливості вашої діяльности, потреби цільової аудиторії та завдання бізнесу.
      .about__item 
        h4.item__title навіщо це потрібно?
        .item__text 
          p Щоб втілити ефективний результат просування у соцмережах, розробляється комплекс дій, спрямованих на зростання трафіку, продажів та формування унікального tone of voice. Це індивідуальний процес, у якому враховуються особливості вашої діяльности, потреби цільової аудиторії та завдання бізнесу. Пропонуємо як разові послуги, так і комплексне просування в соцмережах.

    section.grant.container
      h2.grant__title написання грантового проєкту
      .grant__items.md-grid-up.items 
        .grid__item.item
          .item__title 
            p Підбір грантових програм
          .item__text 
            p Підберемо для Вашого проєкту перелік з актуальних грантових можливостей
        .grid__item.item
          .item__title 
            p Формування концептуальної пропозиції
          .item__text 
            p Окреслення компонентів грантової заявки: етапи реалізації, соціальна складова та релевантність проєкту
        .grid__item.item
          .item__title 
            p Підтримка в процесі подання заявки
          .item__text 
            p Консультація/поради фахівців для успішного залучення та  використання грантів
        .grid__item.item
          .item__title 
            p Розробка описової та фінансової частини
          .item__text 
            p Гарантуємо розробку та подачу грантової заявки відповідно до вимог грантодавця та їх подальшу підтримку
        .grid__item.item
          .item__title 
            p Оплата за результат
          .item__text 
            p Оплата послуг здійснюється лише після успішно залученого гранту
    include pug/sections/price.pug
    include pug/sections/cases.pug
    include pug/sections/team.pug
    include pug/sections/reviews.pug
    include pug/sections/global/footer.pug