- var title = 'TITLE'
- var gTag = 'G-'

doctype html    
html(lang="uk")
  include pug/sections/global/head.pug
  body
    include pug/sections/global/header.pug
    section.about.md-flex-up
      .about__item
        h4.item__title Що це?
        .item__text 
          p Понад 82% клієнтів різних напрямків бізнесу надають перевагу онлайн-комунікації (замовлення, запис, консультації), а це вказує на те, що соціальні мережі - основа для просування бренду. Щоб втілити ефективний результат, розробляється комплекс дій, спрямованих на зростання трафіку, продажів та формування унікального tone of voice. Це індивідуальний процес, у якому враховуються особливості вашої діяльности, потреби цільової аудиторії та завдання бізнесу.
      .about__item 
        h4.item__title навіщо це потрібно?
        .item__text 
          p Щоб втілити ефективний результат просування у соцмережах, розробляється комплекс дій, спрямованих на зростання трафіку, продажів та формування унікального tone of voice. Це індивідуальний процес, у якому враховуються особливості вашої діяльности, потреби цільової аудиторії та завдання бізнесу. Пропонуємо як разові послуги, так і комплексне просування в соцмережах.

    section.decides.container
      h2.decides__title Комплексне рішення для просування вашого бізнесу
      .decides__items.lg-flex-up.jc-center
        .item.flex.flex-column-up.jc-between(style="--bg-img: url(../../images/support-img.webp)")
          .top-part
            .item__label 
              p пакет
            h3.item__title підтримка
            .item__subtitle 
              p Для висвітлення Вашої діяльності в соціальних мережах
            ul.item__list
              li SMM-Стратегія
              li Контент-план
              li 7 постів
              li 3 reels
              li 15 stories
              li 5 унікальних stories
              li 1 фотозйомка
              li Щомісячний звіт
          .item__price.price 
            .price__regular 
              p 10 000 ₴
            h3.price__compare 8 900 ₴

        .item.flex.flex-column-up.jc-between(style="--bg-img: url(../../images/optimal-img.webp)")
          .top-part
            .item__label 
              p пакет
            h3.item__title оптимальний
            .item__subtitle
              p Комплексне SMM-просування для Вашого бізнесу
            ul.item__list
              li SMM-Стратегія
              li Контент-план
              li 10 постів
              li 5 reels
              li 40 stories
              li 15 унікальних stories
              li 2 фотозйомки
              li Таргет компанія
              li Щомісячний звіт
          .item__price.price 
            .price__regular 
              p 19 500 ₴
            h3.price__compare 16 500 ₴

            
        .item.flex.flex-column-up.jc-between(style="--bg-img: url(../../images/maximal-img.webp)")
          .top-part
            .item__label 
              p пакет
            h3.item__title максимальний
            .item__subtitle
              p Розвиток впізнаваності бренду бізнесу та залучення нових клієнтів
            ul.item__list
              li SMM-Стратегія
              li Контент-план
              li 15 постів
              li 10 reels
              li 60 stories
              li 15 унікальних stories
              li 2 фотозйомка
              li Таргет компанія
              li Інфлюенс маркетинг
              li Щомісячний звіт
          .item__price.price 
            .price__regular 
              p 31 500 ₴
            h3.price__compare 23 500 ₴
    include pug/sections/price.pug
    include pug/sections/cases.pug
    include pug/sections/team.pug
    include pug/sections/reviews.pug
    include pug/sections/global/footer.pug