- var title = 'TITLE'
- var gTag = 'G-'

doctype html    
html(lang="uk")
    include pug/sections/global/head.pug
    body
      include pug/sections/global/header.pug
      section.article-hero
        .container.flex
          .article-hero__text.text
            .text__tag 
              p #Кейси
            h1.article__title як комунікувати з аудиторією?
            .article__subtitle
              p (на прикладі громадських, комунальних, бізнес-кейсів)
            .article-hero__footer 
              .flex 
                .author
                  .author__label 
                    p Авторка статті
                  .flex
                    .author__image
                      img(src="./././images/stas.webp", alt="")
                    .author__name
                      .name 
                        p Гомер Сімпсон
                      .position 
                        p Співзасновник
              .date.flex.jc-center
                p 13 Березня 2024
                p 7 хв читання
                p 
                  span 
                    include ./././images/view.svg
                  span 250
          .article-hero__image 
            img(src="././images/smm.webp", alt="")
          
      section.article 
        .article__content.content 
          .content__annotation 
            p Реалізація проєктів завжди починається із ідеї: ідея, яка надихатиме вас, яка обʼєднає однодумців та створить справжню команду, яка буде мотивувати прокидатися кожного ранку, щоб втілювати задумане! Ідея melnyk.agency працювати на результат, щоб досягати нових висот для наших клієнтів! 
          .content__title 
          ul.content__thesis
            li.thesis 
              .thesis__title
                p Втілення медіа-стратегій
              .thesis__text
                p Ми пропонуємо індивідуальні рішення для кожного клієнта, що враховують усі особливості вашого бізнесу, сфери діяльності та ринку. Наші стратегії допоможуть максимально ефективно використовувати медіа-ресурси, втілювати рекламні кампанії та створювати контент для цільової аудиторії.
            li.thesis 
              .thesis__title
                p Кейси залучення грантових коштів
              .thesis__text
                p Знаємо, як важливо залучити додаткові кошти для реалізації великих ідей. Наші кейси доводять, що можливо все. Від ідеї до успішного отримання гранту — ми допоможемо на кожному етапі!
            li.thesis 
              .thesis__title
                p Кейси залучення грантових коштів
              .thesis__text
                p Знаємо, як важливо залучити додаткові кошти для реалізації великих ідей. Наші кейси доводять, що можливо все. Від ідеї до успішного отримання гранту — ми допоможемо на кожному етапі!
            li.thesis 
              .thesis__title
                p Кейси залучення грантових коштів
              .thesis__text
                p Знаємо, як важливо залучити додаткові кошти для реалізації великих ідей. Наші кейси доводять, що можливо все. Від ідеї до успішного отримання гранту — ми допоможемо на кожному етапі!
          .content__conclusion
            p 
        .article__acide.acide 
          .acide__tags.tags
            .tags__title 
              p
            .tags__hashtag
              p
          .acide__adv.adv 
            .adv__image 
              .adv__title 
            .adv__description   
              p 
              a.btn Детальніше
      include pug/sections/global/footer.pug