- var title = 'Melnyk Agency'
- var gTag = 'G-'

doctype html    
html(lang="uk")
    include pug/sections/global/head.pug
    body
        include pug/sections/global/header.pug
        include pug/sections/main.pug
        include pug/sections/instruments.pug
        include pug/sections/options.pug
        include pug/sections/cases.pug
        include pug/sections/team.pug
        //- include pug/sections/price.pug
        include pug/sections/reviews.pug
        include pug/sections/global/footer.pug