.btn {
  position: absolute;
  border-radius: 3px;
  bottom: 40px;
  left: calc(50% - 93px);
  padding: 12px 18px;
  background-color: #1e1e1e;
  color: #fff;
  font-family: "Mazzard";
  @include font(24, 28, 400);

  // &_primary {
  //   &:hover {
  //   }
  // }
  // &_secondary {
  //   &:hover {
  //   }
  // }
}
