:root {
  --cont-sm: 540px;
  --cont-md: 920px;
  --cont-lg: 1190px;
  --cont-xl: 1320px;
  --cont-2xl: 1410px;
  --cont-3xl: 1500px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

$bps: (
  "b": 320px,
  "b-xs": 375px,
  "b-sm": 576px,
  "b-md": 768px,
  //mobile
  "b-lg": 992px,
  "b-xl": 1200px,
  "b-2xl": 1400px,
  "b-3xl": 1920px,
) !default;

@mixin min-width($bp) {
  @if map-has-key($bps, $bp) {
    @media (min-width: map-get($bps, $bp)) {
      @content;
    }
  }
}

@mixin max-width($bp) {
  @if map-has-key($bps, $bp) {
    @media (max-width: map-get($bps, $bp)) {
      @content;
    }
  }
}

// MAX WIDTH
@include max-width(b-3xl) {
  .container {
    &-down-3xl {
      max-width: 100%;
      padding: 0;
    }
  }
}

@include max-width(b-2xl) {
  .container {
    &-down-2xl {
      max-width: 100%;
      padding: 0;
    }
  }
}

@include max-width(b-xl) {
  .container {
    &-down-xl {
      max-width: 100%;
      padding: 0;
    }
  }
}

@include max-width(b-lg) {
  .container {
    &-down-lg {
      max-width: 100%;
      padding: 0;
    }
  }
}

@include max-width(b-md) {
  .container {
    padding: 0 32px;
    &-down-md {
      max-width: 100% !important;
      padding: 0 !important;
    }
  }
}

@include max-width(b-sm) {
  .container {
    padding: 0 15px;
    &-down-sm {
      max-width: 100%;
      padding: 0;
    }
  }
}

// MIN WIDTH
@include min-width(b-sm) {
  .container {
    max-width: var(--cont-sm);
    // &-m-sm {
    //   max-width: 100%;
    // }
  }
  .flex-sm {
    display: flex;
  }
}

@include min-width(b-md) {
  .container {
    max-width: var(--cont-md);
    // &-m-md {
    //   max-width: 100%;
    // }
  }
  .none-md {
    display: none;
  }
  .block-md {
    display: block;
  }
  .flex-md {
    display: flex;
  }
  .flex-column-md {
    flex-direction: column;
  }
}

@include min-width(b-lg) {
  .container {
    max-width: var(--cont-lg);
    // &-m-lg {
    //   max-width: 100%;
    // }
  }

  .none-lg {
    display: none;
  }

  .block-lg {
    display: block;
  }

  .flex-lg {
    display: flex;
  }
}

@include min-width(b-xl) {
  .container {
    max-width: var(--cont-xl);
    // &-m-xl {
    //   max-width: 100%;
    // }
  }

  .block-xl {
    display: block;
  }
}

@include min-width(b-2xl) {
  .container {
    max-width: var(--cont-2xl);
    // &-m-2xl {
    //   max-width: 100%;
    // }
  }

  .block-2xl {
    display: block;
  }
}

@include min-width(b-3xl) {
  .container {
    max-width: var(--cont-3xl);
    // &-m-3xl {
    //   max-width: 100%;
    // }
  }

  .block-3xl {
    display: block;
  }
}

.flex {
  display: flex;
}
.flex-reverse {
  flex-direction: row-reverse;
}

.flex-up {
  @include max-width(b) {
    display: flex;
  }
}

.xs-flex-up {
  @include min-width(b-xs) {
    display: flex;
  }
}
.sm-flex-up {
  @include min-width(b-sm) {
    display: flex;
  }
}
.md-flex-up {
  @include min-width(b-md) {
    display: flex;
  }
}
.lg-flex-up {
  @include min-width(b-lg) {
    display: flex;
  }
}
.xl-flex-up {
  @include min-width(b-xl) {
    display: flex;
  }
}
.xxl-flex-up {
  @include min-width(b-2xl) {
    display: flex;
  }
}
.xxxl-flex-up {
  @include min-width(b-3xl) {
    display: flex;
  }
}

.xs-flex-down {
  @include max-width(b-xs) {
    display: flex;
  }
}
.sm-flex-down {
  @include max-width(b-sm) {
    display: flex;
  }
}
.md-flex-down {
  @include max-width(b-md) {
    display: flex;
  }
}
.lg-flex-down {
  @include max-width(b-lg) {
    display: flex;
  }
}
.xl-flex-down {
  @include max-width(b-xl) {
    display: flex;
  }
}
.xxl-flex-down {
  @include max-width(b-2xl) {
    display: flex;
  }
}
.xxxl-flex-down {
  @include max-width(b-3xl) {
    display: flex;
  }
}

// .xxl-jc-center-down {
//   @include min-width(b-2xl) {
//     justify-content: center;
//   }
// }

// .md-jc-center-up {
//   @include max-width(b-md) {
//     justify-content: center;
//   }
// }

.flex-column-up {
  // @include max-width(b) {
  flex-direction: column;
  // }
}

.xs-flex-column-up {
  @include max-width(b-xs) {
    flex-direction: column;
  }
}
.sm-flex-column-up {
  @include max-width(b-sm) {
    flex-direction: column;
  }
}
.md-flex-column-up {
  @include max-width(b-md) {
    flex-direction: column;
  }
}
.lg-flex-column-up {
  @include max-width(b-lg) {
    flex-direction: column;
  }
}
.xl-flex-column-up {
  @include max-width(b-xl) {
    flex-direction: column;
  }
}
.xxl-flex-column-up {
  @include max-width(b-2xl) {
    flex-direction: column;
  }
}
.xxxl-flex-column-up {
  @include max-width(b-3xl) {
    flex-direction: column;
  }
}

.flex-column-down {
  @include min-width(b) {
    flex-direction: column;
  }
}
.xs-flex-column-down {
  @include min-width(b-xs) {
    flex-direction: column;
  }
}
.sm-flex-column-down {
  @include min-width(b-sm) {
    flex-direction: column;
  }
}
.md-flex-column-down {
  @include min-width(b-md) {
    flex-direction: column;
  }
}
.lg-flex-column-down {
  @include min-width(b-lg) {
    flex-direction: column;
  }
}
.xl-flex-column-down {
  @include min-width(b-xl) {
    flex-direction: column;
  }
}
.xxl-flex-column-down {
  @include min-width(b-2xl) {
    flex-direction: column;
  }
}
.xxxl-flex-column-down {
  @include min-width(b-3xl) {
    flex-direction: column;
  }
}

.flex-column-reverse-up {
  @include max-width(b) {
    flex-direction: column-reverse;
  }
}

.xs-flex-column-reverse-up {
  @include max-width(b-xs) {
    flex-direction: column-reverse;
  }
}
.sm-flex-column-reverse-up {
  @include max-width(b-sm) {
    flex-direction: column-reverse;
  }
}
.md-flex-column-reverse-up {
  @include max-width(b-md) {
    flex-direction: column-reverse;
  }
}
.lg-flex-column-reverse-up {
  @include max-width(b-lg) {
    flex-direction: column-reverse;
  }
}
.xl-flex-column-reverse-up {
  @include max-width(b-xl) {
    flex-direction: column-reverse;
  }
}
.xxl-flex-column-reverse-up {
  @include max-width(b-2xl) {
    flex-direction: column-reverse;
  }
}
.xxxl-flex-column-reverse-up {
  @include max-width(b-3xl) {
    flex-direction: column-reverse;
  }
}

.xs-flex-column-reverse-down {
  @include min-width(b-xs) {
    flex-direction: column-reverse;
  }
}
.sm-flex-column-reverse-down {
  @include min-width(b-sm) {
    flex-direction: column-reverse;
  }
}
.md-flex-column-reverse-down {
  @include min-width(b-md) {
    flex-direction: column-reverse;
  }
}
.lg-flex-column-reverse-down {
  @include min-width(b-lg) {
    flex-direction: column-reverse;
  }
}
.xl-flex-column-reverse-down {
  @include min-width(b-xl) {
    flex-direction: column-reverse;
  }
}
.xxl-flex-column-reverse-down {
  @include min-width(b-2xl) {
    flex-direction: column-reverse;
  }
}
.xxxl-flex-column-reverse-down {
  @include min-width(b-3xl) {
    flex-direction: column-reverse;
  }
}

.wrap {
  flex-wrap: wrap;
}
.no-wrap {
  flex-wrap: nowrap;
}
.ai-center {
  align-items: center;
}
.ai-end {
  align-items: flex-end;
}
.ai-start {
  align-items: flex-start;
}
.jc-center {
  justify-content: center;
}

.jc-center-down {
  @include min-width(b) {
    justify-content: center;
  }
}
.xs-jc-center-down {
  @include min-width(b-xs) {
    justify-content: center;
  }
}
.sm-jc-center-down {
  @include min-width(b-sm) {
    justify-content: center;
  }
}
.md-jc-center-down {
  @include min-width(b-md) {
    justify-content: center;
  }
}
.lg-jc-center-down {
  @include min-width(b-lg) {
    justify-content: center;
  }
}
.xl-jc-center-down {
  @include min-width(b-xl) {
    justify-content: center;
  }
}
.xxl-jc-center-down {
  @include min-width(b-2xl) {
    justify-content: center;
  }
}

// .md-jc-center-up {
//   @include max-width(b-md) {
//     justify-content: center;
//   }
// }

.jc-around {
  justify-content: space-around;
}
.jc-between {
  justify-content: space-between;
}
.jc-evenly {
  justify-content: space-evenly;
}
