//- section.cases
//-       h2.cases__title.flex Новини: наші кейси
//-       .cases__container.flex
//-         .cases__card
//-           .card__img
//-           .card__text-wrapper
//-             .card__text Назва новини/кейсу 
//-             .card__text з обмеженою довжиною 
//-             .card__text і максимально 3 рядки
//-             .card__text віаівавіаіва
//-             .card__btn-wrapper
//-               .card__btn.btn Детальніше
//-         .cases__card
//-           .card__img
//-           .card__text-wrapper
//-             .card__text Назва новини/кейсу 
//-             .card__text з обмеженою довжиною 
//-             .card__text і максимально 3 рядки
//-             .card__text віаівавіаіва
//-             .card__btn-wrapper
//-               .card__btn.btn Детальніше
//-         .cases__card
//-           .card__img
//-           .card__text-wrapper
//-             .card__text Назва новини/кейсу 
//-             .card__text з обмеженою довжиною 
//-             .card__text і максимально 3 рядки
//-             .card__text віаівавіаіва
//-             .card__btn-wrapper
//-               .card__btn.btn Детальніше
//-         .cases__card
//-           .card__img
//-           .card__text-wrapper
//-             .card__text Назва новини/кейсу 
//-             .card__text з обмеженою довжиною 
//-             .card__text і максимально 3 рядки
//-             .card__text віаівавіаіва
//-             .card__btn-wrapper
//-               .card__btn.btn Детальніше
//-         .cases__card
//-           .card__img
//-           .card__text-wrapper
//-             .card__text Назва новини/кейсу 
//-             .card__text з обмеженою довжиною 
//-             .card__text і максимально 3 рядки
//-             .card__text віаівавіаіва
//-             .card__btn-wrapper
//-               .card__btn.btn Детальніше


-
 var cases = [
  {
    title: 'melnyk.agency - агенція SMM та грантрайтингових послуг',
    image: '../../images/smm.webp'
  },
  {
    title: 'SMM кейси: як комунікувати з аудиторією? (на прикладі громадських, комунальних, бізнес-кейсів)',
    image: '../../images'
  },
  {
    title: 'SMM кейси: рекламний бюджет, який принесе результат',
    image: '../../images/budget.webp'
  },
  {
    title: 'SMM кейси: просування для компаній перевезення країнами Європи',
    image: '../../images/seo.webp'
  },
  {
    title: 'SMM кейси: студія яскравих емоцій Фенікс',
    image: '../../images'
  },
  {
    title: 'Грантові кейси: вантажні перевезення EmBus',
    image: '../../images'
  },
  {
    title: 'Грантові кейси: центр раннього розвитку “Мудрик”',
    image: '../../images/mudrik.webp'
  },
  {
    title: 'Грантові кейси: магазини одягу для дітей та підлітків',
    image: '../../images'
  },
 ]

section.cases 
  h2.cases__title новини: наші кейси
  .swiper.cases__slider.slider
    .swiper-wrapper.slider__wrapper
      for item in cases
        .swiper-slide.slide
          .slide__image 
            img(src= item.image, alt="")
          .slide__text.flex.flex-column-up.jc-between
            p= item.title 
            button.slide__button.btn Детальніше
        