section.section.instruments
  .container
    h2.section__title.instruments__title Ключові інструменти для розбудови Вашого бізнесу
    .instruments__items.md-flex-up.jc-between
      .item.left
        h3.item__title smm - Маркетинг у соцмережах
        ul.item__list
          li Налаштування та запуск таргетованої реклами
          li Фото та відео продакшн
          li Інфлюенс-маркетинг
          li Розробка фірмового стилю під ключ
        
      .item.right
        h3.item__title Формування грантових заявок
        ul.item__list
          li Розробка описової та кошторисної частини
          li Підтримка у процесі подання
          li Моніторинг та звітність
          li Пошук фінансових донорів
      .img
        .img__item.gradient 
        .img__item.image
          img(src="../../images/rocket.webp", alt="")