//- section.main.container.flex-column
//-   .main__wrapper.flex-column
//-     .main__title-wrapper
//-       span  Комплексні рішення
//-       span.main__title_orange  просування 
//-       span  для вашого 
//-       span.main__title_orange бренду
//-     .main__progress.flex 
//-       .progress__item.flex
//-         .progress__number.orange 20+
//-         .text_wrapper
//-           .progress__text кейсів просування
//-           .progress__text у соцмережах
//-       .progress__item.flex
//-         .progress__number.orange  3+
//-         .text__wrapper
//-           .progress__text млн грн залучено
//-           .progress__text грантових коштів
//-   .photo-scope__wrapper.flex
//-     .main__scope.flex
//-       .scope-items__wrapper.flex
//-         .scope__item
//-           .item__container
//-             .scope__img
//-                 img(src="../../images/bag.webp", alt="").img_bag
//-             .scope__text Просування бізнесу
          
//-         .scope__item
//-           .item__container
//-             .scope__img
//-               img(src="../../images/pen.webp", alt="").img_pen
//-             .scope__text Формування грантових заявок
//-         .scope__item
//-           .item__container
//-             .scope__img
//-               img(src="../../images/hat.webp", alt="").img_hat
//-             .scope__text Навчання на платформі UP

//-       .scope-container
//-     .main__photo
//-       .photo__img
//-       .buttons__btn-wrapper
//-         .buttons__btn.btn Безкоштовна консультація
section.hero 
  .container.hero__content 
    h1.hero__title
      | комплексні рішення 
      span просування 
      | для вашого 
      span бренду
    .flex
      .hero__counter.counter.md-flex-up.ai-center
        .counter__count 
          p 20+
        .counter__txt 
          p кейсів просування #[br] у соцмережах
      .hero__counter.counter.md-flex-up.ai-center
        .counter__count 
          p 3+
        .counter__txt 
          p млн грн залучено #[br] грантових коштів
    .md-flex-up.services
      .service.md-flex-down.ai-center
        .service__image 
          img(src="../../images/bag.webp", alt="")
        .service__text.flex.ai-center
          p Просування бізнесу
      .service.md-flex-down.ai-center
        .service__image 
          img(src="../../images/pen.webp", alt="")
        .service__text.flex.ai-center
          p Формування грантових заявок
      .service.md-flex-down.ai-center
        .service__image 
          img(src="../../images/hat.webp", alt="")
        .service__text.flex.ai-center
          p Навчання на платформі UP
