section.options
  h2.container.options__title Додаткові опції, які допоможуть Вам зростати
  .options-wrapper.container 
    .options__row.row.md-flex-up.jc-center
      .row__item.item.flex(style="--w: 273px")
        .item__image 
          img(src="../../images/opt01.webp", alt="")
        .item__text 
          p Створення та розробка вебсайту 
      .row__item.item.flex(style="--w: 478px")
        .item__image 
          img(src="../../images/opt02.webp", alt="")
        .item__text 
          p Формування комплексної SMM-стратегії та проведення аудиту соціальних сторінок
    .options__row.row.md-flex-up.jc-center
      .row__item.item.flex(style="--w: 431px")
        .item__image 
          img(src="../../images/opt03.webp", alt="")
        .item__text 
          p Створення рекламних креативів для контекстної та медійної реклами
      .row__item.item.flex(style="--w: 390px")
        .item__image 
          img(src="../../images/opt04.webp", alt="")
        .item__text 
          p Розробка брендбуків та супутніх маркетингових матеріалів
    .options__row.row.md-flex-up.jc-center
      .row__item.item.flex(style="--w: 400px")
        .item__image 
          img(src="../../images/opt05.webp", alt="")
        .item__text 
          p Рекламні кампанії (налаштування та запуск таргетованої реклами)
      .row__item.item.flex(style="--w: 292px")
        .item__image 
          img(src="../../images/opt06.webp", alt="")
        .item__text 
          p Розробка та друк брендованої продукції
    .options__row.row.md-flex-up.jc-center
      .row__item.item.flex(style="--w: 398px")
        .item__image 
          img(src="../../images/opt07.webp", alt="")
        .item__text 
          p Фото- та відеозйомки, написання сценаріїв для проведення зйомок
      .row__item.item.flex(style="--w: 358px")
        .item__image 
          img(src="../../images/opt08.webp", alt="")
        .item__text 
          p Пошук грантового залучення для діяльнісної сфери