section.price
  h1.price__title Вартість послуг
  .price__container-wrapper

    .price__container.flex
        .price__img
          img(src="../../images/man.webp", alt="")
        .price__column
          .price__row.flex 
            .row__article Пост у соцмережах
            .row__number від 250₴
          .price__row.flex
            .row__article Reels
            .row__number від 500₴
          .price__row.flex 
            .row__article Таргет кампанія
            .row__number від 1500₴
          .price__row.flex 
            .row__article Рекламні креативи
            .row__number від 400₴
          .price__row.flex
            .row__article Модерація сторінки
            .row__number  від 2000₴
          .price__row.flex 
            .row__article Контент-план
            .row__number від 1500₴
        .price__img-container    
        .price__column
          .price__row.flex
            .row__article Фотозйомка
            .row__number від 1500 ₴
          .price__row.flex
            .row__article Інфлюенс-маркетинг
            .row__number від 3000 ₴
          .price__row.flex
            .row__article Вебсайт
            .row__number від 10000 ₴
          .price__row.flex
            .row__article Брендована продукція
            .row__number від 350 ₴
          .price__row.flex
            .row__article Розробка логотипу
            .row__number від 4000 ₴
          .price__row.flex
            .row__article Розробка брендбуку
            .row__number від 10000 ₴