section.reviews
  .container.md-flex-up.jc-between
    .reviews__display 
      h2.reviews__title відгуки
      .reviews__content 
        
    .reviews__choose.choose
      .choose__circles
        .circles__container
          .circle.circle-big
            img(src="../../images/full-man.webp", alt="")
        .circles__container
          .circle.circle-medium
        .circles__container
          .circle.circle-small
      .choose__review 
        .review__items.md-flex-up.first 
          .item
            .item__text 
              p Григорій
            .item__stars 
              include ../../images/star.svg
              include ../../images/star.svg
              include ../../images/star.svg
              include ../../images/star.svg
              include ../../images/star.svg
          .fill-circle
        .review__items.md-flex-up.second
          .item
            .item__text 
              p Антон
            .item__stars 
              include ../../images/star.svg
              include ../../images/star.svg
              include ../../images/star.svg
              include ../../images/star.svg
              include ../../images/star.svg
          .fill-circle
        .review__items.md-flex-up.third
          .item
            .item__text 
              p Марія
            .item__stars 
              include ../../images/star.svg
              include ../../images/star.svg
              include ../../images/star.svg
              include ../../images/star.svg
              include ../../images/star.svg
          .fill-circle
