section.reviews
  .container.md-flex-up
    .reviews__display 
      h2.reviews__title відгуки
      .reviews__content 
        
    .reviews__choose.choose
      .choose__circles
        .circles__container
          .circle.circle-big
            img(src="../../images/full-man.webp", alt="")
        .circles__container
          .circle.circle-medium
        .circles__container
          .circle.circle-small
      .choose__review 
        .review__items
          .item
            .item__text 
              p 
            .item__stars 
              include ../../images/star.svg
          .fill-circle
