//- section.team
//-     h2.team__title.flex Наша команда
//-     .team__container.flex
//-       .team__card
//-         .card__img
//-         .card__text-wrapper
//-           .card__text Яна Мельник, Засновниця, власниця,
//-           .card__text шефиня-духариня, CEO
//-       .team__card
//-         .card__img
//-         .card__text-wrapper
//-           .card__text Богдан, бухгалтер-стратег,
//-           .card__text чоловік шефині, дружок довбойоб
//-       .team__card
//-         .card__img
//-         .card__text-wrapper
//-           .card__text Станіслав, дизайнер цієї херової 
//-           .card__text картинки, дружок довбойоб
//-       .team__card
//-         .card__img
//-         .card__text-wrapper
//-           .card__text Русь, розйоробник цієї херової 
//-           .card__text картинки, дружок довбойоб
//-       .team__card
//-         .card__img
//-         .card__text-wrapper
//-           .card__text Анастасія, квіточка, пише гранти,
//-           .card__text вчить дітей української мови
-
  var team = [
    {
      text: 'Яна Мельник, засновниця Melnyk&Agency',
      image: '../../images/yana.webp'
    },
    {
      text: 'Діана Тивонюк, SMM-спеціаліст, контент-мейкер',
      image: '../../images/diana.webp'
    },
    {
      text: 'Анастасія Марущак, Грантрайтерка, фандрейзерка',
      image: '../../images/nastia.webp'
    },
    {
      text: 'Богдан Мельник, Фінансовий радник',
      image: '../../images/bodia.webp'
    },
    {
      text: 'Стас Дєдов, Графічний та вебдизайнер',
      image: '../../images/stas.webp'
    },
    {
      text: 'Руслан Лупаштян, ІТ-фахівець з розробки та обслуговування сайтів',
      image: '../../images/rusik.webp'
    },
  ]
section.team(data-block="team")
  h2.team__title Наша команда
  .swiper 
    .swiper-wrapper 
      for slide in team 
        .swiper-slide.slide 
          .slide__image 
            img(src= slide.image)
          h5.slide__text= slide.text